:root{
    --spacing: 0px;
    --blur: 2px;
    --color:black;
}


*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;
}
.container{
    display: flex;
    margin: 10px 0;
}
.input{
    margin: 0px 10px;
}
section{
    height: 70%;
    flex: 1;
    background-image: url(coffee.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 0;
   bottom: 0;
   filter: blur(var(--blur));
   margin: var(--spacing);
}
.overlay{
    top: 0;
    bottom: 0;
    background-color:var(--color);
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
#color{
    border: none;
    padding: 0px;
    width: 24px;
    height: 25px;
}

/* Media Quaries */

@media screen and (max-width: 530px){
    header{
        flex-direction: row;
        justify-content: space-around;
    } 
    .container{
        flex-direction: column;
    }
}