:root{
    --space: 20px;
    --blue: 10px;
    --color: #000000a8;
}


*{
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    margin: 10px 0;
}
.input{
    margin: 0px 10px;
}
section{
    height: 70vh;
    width: 100%;
    background-image: url(coffee.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 0;
   bottom: 0;
}
.overlay{
    top: 0;
    bottom: 0;
    background-color:var(--color);
    height: 100%;
    width: 100%;
}